.timeline-page:after {
    background-color: #ced4da !important;
    content: "";
    height: 95%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
  }
  .timeline-page .timeline-item .date-label-left, .timeline-page .timeline-item .duration-right {
    margin-right: 15px;
  }
  .timeline-page .timeline-item .date-label-left:after, .timeline-page .timeline-item .duration-right:after {
    border: 2px solid #161c2d;
    content: "";
    position: absolute;
    top: 12px;
    width: 12px;
    height: 12px;
    z-index: 1;
    background-color: #f8f9fa;
    border-radius: 30px;
  }
  .timeline-page .timeline-item .date-label-left {
    float: right;
    margin-right: 15px;
  }
  .timeline-page .timeline-item .date-label-left:after {
    right: -34px;
    /* right: -37px; */
  }
  .timeline-page .timeline-item .duration-right {
    float: left;
    margin-left: 15px;
  }
  .timeline-page .timeline-item .duration-right:after {
    left: -34px;
    /* left: -37px; */
  }
  .timeline-page .timeline-item .event {
    transition: all 0.2s ease;
  }
  .timeline-page .timeline-item .event .title {
    font-weight: 500;
    transition: all 0.2s ease;
    font-size: 18px !important;
    color: #161c2d;
  }
  .timeline-page .timeline-item .event .company {
    font-size: 13px;
    color: #161c2d;
  }
  .timeline-page .timeline-item .event.event-description-right {
    text-align: left;
    margin-left: 15px;
  }
  .timeline-page .timeline-item .event.event-description-left {
    text-align: right;
    margin-right: 15px;
  }
  .timeline-page .timeline-item .event .timeline-subtitle {
    font-size: 14px;
  }
  .timeline-page .timeline-item .event:hover {
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
    transform: translateY(-5px);
    border-color: transparent !important;
  }
  .timeline-page .timeline-item .event:hover .title {
    color: #f89d36;
  }